<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Post</title>
</head>
<body>
<br>
<br>
<br>
    <table align="center" style=" font-size: 30px" border="2">
    <tr>
        <td>    用户信息    </td>
        <td>    房间消耗能量    </td>
        <td>    空调工作时间    </td>
        <td>    需要支付金额    </td>
    </tr>
    <tr>
        <td>    {{ user_id }},  {{ user_name }}  </td>
        <td>    {{ energy }}   </td>
        <td>    {{ time }}   </td>
        <td>    {{ price }}   </td>
    </tr>
</table>
</body>
</html>