<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="{{ refresh }}">
    <title>Hotel Post</title>
</head>
<body>
    <h2 class="form-signin-heading text-center">{{ parameter1 }}</h2>
    <br/>
    <br>
    <h2 class="form-signin-heading text-center">{{ parameter2 }}</h2>
    <br/>
    <br>
    <h2 class="form-signin-heading text-center">{{ parameter3 }}</h2>
    <br/>
    <br>
    <img src="{{ img_path }}" width="200" height="200" alt=""/>
</body>
</html>