<!DOCTYPE html>
<html lang="Zh-CN">
<head>
  <meta charset="utf-8">
  <title>Login Demo</title>
  <!-- Link CSS -->
    {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<br/>
<br/>
<h2 class="form-signin-heading text-center">欢迎，酒店管理员</h2>
	<div class="wrapper">
		<form class="form-signin" name="info" action="register" method="get">
            <h4 class="form-signin-heading text-center">录入客户信息</h4>

            <input type="text" class="form-control" name="room_number" placeholder="输入房间号">
            <input type="text" class="form-control" name="user_id" placeholder="输入身份证号">

            <button type="submit" class="btn btn-lg btn-primary btn-block">录 入</button>
            <h6>{{ result }}</h6>
        </form>

        <form class="form-signin" name="info" action="data" method="get">
            <h4 class="form-signin-heading text-center">查询报表</h4>

            <button type="submit" class="btn btn-lg btn-primary btn-block">查 询</button>
        </form>
	</div>

</body>
</html>