<!DOCTYPE html>
<html lang="Zh-CN">
<head>
  <meta charset="utf-8">
  <title>Login Demo</title>
  <!-- Link CSS -->
    {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<br/>
<br/>
<h2 class="form-signin-heading text-center">欢迎，酒店管理员</h2>
	<div class="wrapper">
		<form class="form-signin" name="info" action="setTemp" method="get">
            <h4 class="form-signin-heading text-center">默认温度设置</h4>

            <input type="text" class="form-control" name="tempreture" placeholder="输入默认温度">

            <button type="submit" class="btn btn-lg btn-primary btn-block">设 置</button>

            <h6>{{ result_temp }}</h6>
        </form>

        <form class="form-signin" name="info" action="setPrice" method="get">
            <h4 class="form-signin-heading text-center">计费参数设置</h4>

            <input type="text" class="form-control" name="price" placeholder="输入计费参数">

            <button type="submit" class="btn btn-lg btn-primary btn-block">设 置</button>

            <h6>{{ result_price }}</h6>
        </form>

        <form class="form-signin" name="info" action="queryPost" method="get">
            <h4 class="form-signin-heading text-center">查询报表</h4>

            <input type="text" class="form-control" name="room_number" placeholder="输入房间号">

            <button type="submit" class="btn btn-lg btn-primary btn-block">查 询</button>
        </form>
	</div>

</body>
</html>